[Unit]
Description=Initialize Hostname
Documentation=http://tblflp.zone
After=network-online.target
Requires=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/initialize-hostname.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
