[Unit]
Description=Initialize Hostname
DefaultDependencies=no
After=systemd-remount-fs.service
Before=sysinit.target network-pre.target shutdown.target
Conflicts=shutdown.target
ConditionPathExists=!/etc/nodeinfo.env

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/initialize-hostname.sh
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
